<!DOCTYPE html>
<html>
<head>
  <title>CyberTwitter - Profile</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/profile_style.css">
</head>
<body>
<canvas id="Matrix"></canvas>
  <div class="overlay">
  <% if @user %>
    <div class="profile-container">
      <header>
        <h1>Your Profile</h1>
        <a href="/feed" class="button">Go to Feed</a> 
      </header>

      <main>
        <div class="feed-container">
          <h3>Welcome, <%= @user.username %>!</h3>

          <h4>My Peeps:</h4>

          <% @peeps.each do |peep| %>
            <div class="peep">
              <div class="peep-content">
                <p><%= peep.content %></p>
              </div>
              <div class="peep-meta">
                <p>Posted by: <%= peep.user_id %></p>
              </div>
            </div>
          <% end %>
        </div>
      </main>

      <footer>
        <a href="/logout">Logout</a>
      </footer>
    </div>
  <% else %>
    <div class="login-container">
      <p>You are not logged in.</p>
      <div class="login-buttons">
        <a href="/login" class="button">Log in</a>
        <span>&nbsp;</span>
        <a href="/signup" class="button">Sign up</a>
      </div>
    </div>
  <% end %>
  </div>
  <script>
    const canvas = document.getElementById('Matrix');
    const context = canvas.getContext('2d');

    canvas.width = window.innerWidth;
    canvas.height = window.innerHeight;

    const katakana = 'アァカサタナハマヤャラワガザダバパイィキシチニヒミリヰギジヂビピウゥクスツヌフムユュルグズブヅプエェケセテネヘメレヱゲゼデベペオォコソトノホモヨョロヲゴゾドボポヴッン';
    const latin = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
    const nums = '0123456789';

    const alphabet = katakana + latin + nums;

    const fontSize = 16;
    const columns = canvas.width / fontSize;

    const rainDrops = Array.from({ length: columns }).fill(canvas.height);

    for (let x = 0; x < columns; x++) {
        rainDrops[x] = 1;
    }

    const draw = () => {
        context.fillStyle = 'rgba(0, 0, 0, 0.05)';
        context.fillRect(0, 0, canvas.width, canvas.height);

        context.fillStyle = '#0F0';
        context.font = fontSize + 'px monospace';

        for (let i = 0; i < rainDrops.length; i++) {
            const text = alphabet.charAt(Math.floor(Math.random() * alphabet.length));
            context.fillText(text, i * fontSize, rainDrops[i] * fontSize);

            if (rainDrops[i] * fontSize > canvas.height && Math.random() > 0.975) {
                rainDrops[i] = 0;
            }
            rainDrops[i]++;
        }
    };

    setInterval(draw, 75);
  </script>
</body>
</html>
